@model IEnumerable<UsersListViewModel>

@{
	ViewData["Title"] = "Manage users";
}

<div class="d-flex justify-content-between">
	<h2>@ViewData["Title"]</h2>
	<a href="@Url.Action("Create", "Users")" 
	   class="btn btn-primary my-auto btn-modal"
	   data-bs-toggle="modal" data-bs-target="#modal">
		Create user
	</a>
</div>

<div id="alert-parent"></div>

@await Html.PartialAsync("IndexData", Model)

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			Loading...
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		$('main').on('click', '.btn-modal', (event) => {
			event.preventDefault();
		
			const url = event.target.getAttribute('href');
			$('.modal-content').load(url);
		});

		const modalJquery = $('#modal');
		modalJquery.on('submit', '#userForm', (event) => {
			event.preventDefault();

			const form = $('#userForm');
			$.ajax({
				type: form.attr('method'),
				url: form.attr('action'),
				data: form.serialize()
			}).done((data) => {
				$('#table').load('/Users/IndexData');
				$('#alert-parent').html(
					`<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Success.</strong> ` + data + `
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>`
				);
			}).fail((data) => {
				$('#alert-parent').html(
					`<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Error.</strong> ` + data.responseText + `
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>`
				);
			}).always(() => {
				modalJquery.modal('hide');
			});
		});

		const modal = document.getElementById('modal');
		modal.addEventListener('hide.bs.modal', function () {
			$('.modal-content').html(`Loading...`);
		});
	</script>
}