<div class="modal fade" id="createTimeEntryModal" tabindex="-1"
	 aria-labelledby="createTimeEntryModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createTimeEntryModalTitle"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="@Url.Action("Create", "Users")" method="post">
				<div class="modal-body">
					<div class="form-floating mb-3">
					</div>
					<div class="form-floating mb-3">
					</div>
					<div class="form-floating mb-3">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>