@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@model TimeEntriesListViewModel
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> userManager

@{
	ViewData["Title"] = "Time Tracker";

	var currentUser = await userManager.GetUserAsync(User);
	var isAdmin = currentUser != null
	              && await userManager.IsInRoleAsync(currentUser, Roles.Admin);

	// Date for Monday of the current week.
	var weekMonday = Model.Week;
	// Date for Friday (Monday + 4 days) of the current week.
	var weekFriday = Model.Week.AddDays(4);
	// Date for Monday of the previous week.
	var previousWeekMonday = weekMonday.AddDays(-7);
	// Date for Monday of the next week.
	var nextWeekMonday = weekMonday.AddDays(7);
}

<div class="container-fluid">
	<div class="d-flex justify-content-between pb-3">
		<h4 class="fw-bold">
		</h4>
		<div class="hstack">
			<a href="@Url.Action("Index", "Home", 
				         new 
				         {
					         weekDate = previousWeekMonday.ToString(TimeTracker.Common.Constants.DateTimeFormatForWeeks)
				         })"
			   class="btn btn-light btn-sm me-2">
				<i class="bi bi-arrow-left text-dark"></i>
			</a>
			<h4 class="fw-bold">
				@weekMonday.Day/@weekMonday.Month/@weekMonday.Year — @weekFriday.Day/@weekFriday.Month/@weekFriday.Year
			</h4>
			@if (Model.Week != Model.CurrentWeek)
			{
				<a href="@Url.Action("Index", "Home", 
					         new 
					         {
						         weekDate = nextWeekMonday.ToString(TimeTracker.Common.Constants.DateTimeFormatForWeeks)
					         })"
				   class="btn btn-light btn-sm ms-2">
					<i class="bi bi-arrow-right text-dark"></i>
				</a>
			}
		</div>
		<div class="hstack">
			@if (isAdmin && Model.IsWeekClosed)
			{
				<button type="button" class="btn btn-primary btn-sm">
					Open Week
				</button>
			}
			@if (Model.Week == Model.CurrentWeek &&
			     !Model.IsWeekClosed)
			{
				<button type="button" class="btn btn-primary btn-sm">
					Complete Week
				</button>
			}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="row">
				<h5 class="text-center fw-bolder">
					Mon
				</h5>
			</div>
			<div class="row overflow-auto">
				...
			</div>
		</div>
		<div class="col">
			<div class="row">
				<h5 class="text-center fw-bolder">
					Tue
				</h5>
			</div>
			<div class="row overflow-auto">...</div>
		</div>
		<div class="col">
			<div class="row">
				<h5 class="text-center fw-bolder">
					Wed
				</h5>
			</div>
			<div class="row overflow-auto">...</div>
		</div>
		<div class="col">
			<div class="row">
				<h5 class="text-center fw-bolder">
					Thu
				</h5>
			</div>
			<div class="row overflow-auto">...</div>
		</div>
		<div class="col">
			<div class="row">
				<h5 class="text-center fw-bolder">
					Fri
				</h5>
			</div>
			<div class="row overflow-auto">...</div>
		</div>
	</div>
</div>