@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
	var currentUser = await UserManager.GetUserAsync(User);

	var isAdmin = currentUser != null
	              && await UserManager.IsInRoleAsync(
		              currentUser,
		              Roles.Admin);

	if (isAdmin)
	{
		<li>
			<a class="nav-link text-dark"
			   asp-controller="Users"
			   asp-action="Index">
				@Localizer["ManageUsers"]
			</a>
		</li>
	}
}